<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' ! '"></h2>
    <h2 th:text="${msg}"></h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <form  th:action = "@{/user/passwordSubmit}" method = "post">
                    	<div class = "row from-group">
                    		<label class="col-sm-4">Password Lama: </label>
                    		<input class="col-sm-8 from-control input-sm" type = "password" id="passwordLama" name="passwordLama"/>
                    	</div>
                    	<div class = "row from-group">
                    		<label class="col-sm-4">Password Baru: </label>
                    		<input class="col-sm-8 from-control input-sm" type = "password" id= "passwordBaru" name="passwordBaru"/>
                    	</div>
                    	<div class = "row from-group">
                    		<label class="col-sm-4">Konfirmasi Password Baru: </label>
                    		<input class="col-sm-8 from-control input-sm" type = "password" id="passwordBaruKonf" name="passwordBaruKonf"/>
                    	</div>
                    	<div>
                    		<button type="submit" class="btn btn-primary">Simpan</button>
                    	</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
        